RESEND_API_KEY=re_xxxxxxxxx
FORM_FROM_EMAIL=Promoters <forms@promoters.gr>
FORM_TO_EMAIL=info@promoters.gr

# Google Drive upload
GOOGLE_SERVICE_ACCOUNT_EMAIL=your-service-account@project-id.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
GOOGLE_DRIVE_FOLDER_ID=1TeO1ezW22bHxdtKTZBigdDG6oEJp7jRV
